body{ 
    background-image: url("ballon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: black;
    padding: 40px 50px;
    font-style: oblique;
    margin: 0;
    /* background-color: rgb(252, 165, 59); */
}
